.navbar {
  background-color:navajowhite;
  padding-top: -1px;
  display:inline-flexbox;
  border-radius: 5px;
  border-style: ridge;
  border-width: 1px;
  padding-bottom: -1px;
  opacity:0.7;
  background-image: url("wood2.jpg");


  



}

::placeholder {
  
    color: red;
    font-size: 1.2em;
    padding-right: 5cm;
  
}
      
     
.btn-group .button {
    background-color:whitesmoke;
    border-style:ridge;
    color:black;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:2px 2px;
    cursor: pointer;
    float: right;
    width: 150px;
    height:50px;
    cursor:pointer;
    transition-duration: 0.4s;
    margin-top: 10px;
    margin-right: 50px;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.button {
  border-radius: 5px;
}

.btn-group .button-1 {
  background-color: black;
  color: white;
  padding: 16px 20px;
  text-align: center;
  font-size: 16;
  border-radius: 5px;
  cursor:pointer;
  margin-top: 10px;
  margin-left: 180px;
  margin-right:  50px;
  

}





.text{
    border:10px black;
    padding: 25px;
    background: burlywood;
    background-repeat: no-repeat;
    background-size: 75% 50%;
}

.img {
    width: 760px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0.97;
    border-radius: 8px;
  }

.img2 {
    
    margin-right: 90%;
    margin-top:  1%;
    margin-bottom: -30%;
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.img3 {
    margin-right: 90%;
    margin-top:  10%;
    padding-bottom: -10px;
    padding-top: -20px;;
    margin-bottom: -30%;
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;

}

.img4 {

  width: 25px;
  height: 25px;
  display: inline-block;
  margin-bottom: -240px;
  margin-left: -180px;
  cursor: pointer;

}

.img5 {
  width: 25px;
  height: 25px;
  margin-left: -40px;
  cursor: pointer;

}

.img6 {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom:-110px ;
  margin-left: 1050px;

}
.img7 {
  width: 260px;
  height: 130px;
  margin-bottom:-280px ;
  margin-left: 1070px;
  border-radius: 8px;


}

.new{
  position: absolute;
  bottom: 55%;
  left: 8%;
  font-size: 18px;
}



.s-btn{
  position:absolute;
  
  width: 100px;
  height: 50px;
  text-align: center;
  font-size: 14px;
  background-color: ;
  
  cursor:pointer;
  margin-top: -100px;
  margin-left: 30px;
  margin-right:  50px;
  
  

}



.store {
  position: absolute;
  bottom: 3px;
  left: 32px;
  font-size: 18px;
}

.container {
    position: relative;
    padding-left: 0.1px;
    padding-top: 1px ;
    padding-right: 0.1px;
    padding-bottom: 1px;
    width: 763px;
    height: 400px;
    margin:60px 260px;
    border-radius: 8px;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    
  
} 

a{
  color: #000;
  margin-left: 1100px;
  margin-bottom: -10 cm;
}
.follow-us {
    padding-left: 10px;
    padding-top: 10px ;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 235px;
    height: 450px;
    border-radius: 8px;
    background-color: burlywood;
    background-position: 50px 30px ;
    border-color: black;
    margin-left:1070px;
    margin-top: -350px;
    border-width: 3px;
    border-style:solid;
}

h5.follow-us {
  cursor: pointer;
 

}

.views-1 {
    
    
    display: inline-flex;
    
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 50px;
    border-style: solid;
    border-width: 2px;
    
    position:relative;
    max-width:115vh;
    max-height: 35vh;
    
    
    border-radius: 8px;
    background-color:oldlace;
    
    border-color: black;
    margin-left: 265px;
    margin-top:-155px;
    
    text-align:left;
    
    
}
.views-2{
    display: inline-flex;
    padding-left: 30px;
    padding-bottom: 70px;
    padding-top: 30px;

    
    
    position:relative;
    max-width: 115vh;
    max-height: 35vh;
    border-radius: 8px;
    background-color:oldlace;
    border-color: black;
    margin-left: 265px;
    margin-top: 30px;
    border-style: solid;
    border-width: 2px;
    text-align: left;
    

}



.pointer {
  cursor: pointer;
  margin-top: -20px;
 
}




