.navbar {
  background-color:navajowhite;
  padding-top: -1px;
  display:inline-flexbox;
  border-radius: 5px;
  border-style: ridge;
  border-width: 1px;
  padding-bottom: -1px;
  opacity:0.7;
  background-image: url("wood2.jpg");


  



}

input {
  
    color: red;
    font-family:inherit;
    font-size:20px;
    width:350px;
    
    line-height:inherit;
    padding-inline-start: inherit;
    
    
  
}
      
     
.btn-group .button {
    background-color:whitesmoke;
    border-style:ridge;
    color:black;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:2px 2px;
    cursor: pointer;
    float: right;
    width: 150px;
    height:50px;
    cursor:pointer;
    transition-duration: 0.4s;
    margin-top: 10px;
    margin-right: 50px;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.button {
  border-radius: 5px;
}

.btn-group .button-1 {
  background-color: black;
  color: white;
  padding: 16px 20px;
  text-align: center;
  font-size: 16;
  border-radius: 5px;
  cursor:pointer;
  margin-top: 10px;
  margin-left: 180px;
  margin-right:  50px;
  

}





.text{
    border:10px black;
    padding: 25px;
    background: burlywood;
    background-repeat: no-repeat;
    background-size: 75% 50%;
}

.container .img {
    width: 755px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    display: block;
    opacity: 0.9;
    border-radius: 8px;
  }

.img2 {
    
    margin-right: 90%;
    margin-top:  1%;
    margin-bottom: -30%;
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.img3 {
    margin-right: 90%;
    margin-top:  10%;
    
    margin-bottom: -30%;
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;

}

.img4 {
  width: 25px;
  height: 25px;
  display: inline-block;
  
  margin-left: -180px;
  cursor: pointer;

  

}
.views-1 .img4{
  margin-bottom: -260px;
}

.views-2 .img4{
  margin-bottom: -280px;

}


.img5 {
  width: 25px;
  height: 25px;
  margin-left: -40px;
  cursor: pointer
  

}

.img6 {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top:-22px ;
  margin-left: 1050px;

}
.img7 {
  width: 260px;
  height: 150px;
  margin-bottom: -55px ;
  margin-top:-10px ;
  margin-left: 1030px;
  border-radius: 8px;
}





.new{
  position: absolute;
  bottom: 55%;
  left: 8%;
  font-size: 18px;
}



.container .s-btn {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  
}

.container .s-btn:hover {
  background-color: black;
  color: white;
}  
  





.store {
  position: absolute;
  bottom: 3px;
  left: 32px;
  font-size: 18px;
}

.container {
    position: relative;
    padding-left: 0.1px;
    padding-top: 1px ;
    padding-right: 0.1px;
    padding-bottom: 1px;
    width: 763px;
    height: 400px;
    margin:60px 220px;
    border-radius: 8px;
    background-color: white;
    border-color: black;
    margin-top: -300px;
    
    border-width: 2px;
    
  
} 

.link {
  color: #000;
  margin-left: 1100px;
  margin-top: 50px;
  text-align:justify;
}
.follow-us {
    padding-left: 10px;
    padding-top: 10px ;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 235px;
    height: 450px;
    border-radius: 8px;
    background-color: burlywood;
    background-position: 50px 30px ;
    border-color: black;
    margin-left:1030px;
    margin-top: 80px;
    border-width: 3px;
    border-style:solid;
}

h5.follow-us {
  cursor: pointer;
 

}

.views-1 {
    
    
    display: inline-flex;
    
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 50px;
    border-style: solid;
    border-width: 2px;
    
    
    position:relative;
    max-width:115vh;
    max-height: 38vh;
    height: 800px;
    
    border-radius: 8px;
    background-color:blanchedalmond;
    
    border-color: black;
    margin-left: 222px;
    text-align:left;
    margin-top: cm;
    bottom: 695px;
    opacity: 69.7%;
    
}
.views-2{
    display: inline-flex;
    padding-left: 30px;
    padding-bottom: 70px;
    padding-top: 30px;
    position:relative;
    max-width: 115vh;
    max-height: 38vh;
    border-radius: 8px;
    background-color:blanchedalmond;
    border-color: black;
    margin-left: 222px;
    bottom: 665px;
    border-style: solid;
    border-width: 2px;
    text-align: left;
    opacity: 69.7%;
    

}



.pointer {
  cursor: pointer;
  margin-top: -20px;
 
}

.scroller {
  width: 220px;
  height: 200px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  margin-left: 1030px;
  margin-top: 80px;
  border:groove;
}





